<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'fav-graph-2.png' %}"/>
    <link rel="apple-touch-icon" href="{% static 'fav-graph-2.png' %}" >
    <title>{% block pagetitle %}{% endblock %}</title>
     <!-- CSS -->
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
<main>
    <div class="container">
<!--        <header class="border-bottom">-->
        <header class="border-bottom">
<!--            <div class="fs-2 mb-3">-->
<!--                <a href="/sign_in" class="btn btn-primary" style="float: right;">-->
<!--                    Зарегистрироваться-->
<!--                </a>-->
<!--            </div>-->
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <div class="fs-2 mb-3">
                    <img src="{% static 'fav-planet.png' %}" alt="Geophysical Observatory Mikhnevo" width="32" height="32" style="font-size:100px"/>
                    <span>Geophysical Observatory Mikhnevo</span>
                </div>
            </a>
        </header>
<!--        <div class="p-5 mb-4 bg-light rounded-3" id="title-box">-->
<!--            <div class="container-fluid py-5">-->
<!--                <h1 class="display-1 fw-bold">{% block page-title %}{% endblock %}</h1>-->
<!--                <p class="col-md-8 fs-4">{% block page-lead %}{% endblock %}</p>-->
<!--            </div>-->
<!--        </div>-->

        {% block content %}{% endblock %}
        <footer class="footer pt-3 mt-4 text-muted border-top">© IDG RAS
						<br>
						Institute of geosphere dynamics of Russian academy of sciences</footer>
    </div>
</main>
</body>
</html>