{% extends "base_page.html" %}

{% block pagetitle %}
All lessons
{% endblock %}

{% block page-title %}
<p style="font-size:50px;" xmlns="http://www.w3.org/1999/html">Список слов по урокам </p>
{% endblock %}

{% block page-lead %}
<p class="fst-italic" style="font-size:25px;">Список всех уроков, слов и их переводов </p>
{% endblock %}

{% block content %}

<p class="header1">Контакты</p>
    <h3 class="text1">
        ИДГ РАН
        <br/>
        <br/>
        Адрес: 119334, Ленинский проспект, 38, корпус 1, Москва, Россия
    </h3>
    <style>
        .header1{
            text-align: center;
            font-size:30px;
        }
        .text1{
            text-align: justify;
            font-size:20px;
            margin: auto;
            width: 100%;
            display: block;
        }
    </style>
<iframe src="https://yandex.ru/map-widget/v1/-/CBaha6tuKA" width="100%" height="400"
	frameborder="0"></iframe>
	<footer class="container-fluid bottom_contacts">
		<div class="container">
			<div class="row">
{#				<div class="col-sm-8">#}
{#					<p id="inst1">© IDG RAS#}
{#						<br>#}
{#						Institute of geosphere dynamics of Russian academy of sciences#}
{#					<hr>#}
{#					GEOPHYSICAL OBSERVATORY MIKHNEVO</p>#}
{##}
{#				</div>#}
				<div class="col-sm-4" id="contacts">
{#					<img id="image-mail" src="../img/message.png">#}
					<p id="mail">geospheres@idg.chph.ras.ru</p>
					<br>
{#					<img id="image-phone" src="../img/phone.png">#}
					<p id="phone">8 (499) 137-66-11</p>
					<br>
					<a href="mailto:geospheres@idg.chph.ras.ru">
						<div id="contact_us">
							<p>CONTACTS US</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</footer>
{% endblock %}





