{% extends "base_page.html" %}

{% block pagetitle %}
    Data
{% endblock %}

{% load static %}

{% block content %}

<style>

        p {
            line-height: 1.5;
            letter-spacing: .2px;
            font-size: 18px;
        }

        h1 {
            font-size: 30px;
            text-align: justify;
        }

        .box-container {
            margin: 100px auto;
            width: 80%;
            display: flex;
            text-align: justify;
            font-family: 'Roboto', sans-serif;
            position: relative;
            justify-content: space-between;
        }

        .box1-content {
            flex: 0;
            padding: 0;
            font-family: 'Roboto', sans-serif;
            color: #888484;
            margin: auto;
            display: block;
            border-radius: 8px;
        }

        .box1-content,
        .box1-side {
          transition: all .3s ease-out;
          color: #69859d;
            position: relative;
        }

        .box1-content {
          background: whitesmoke;
          flex: 4;
          width: 150px;
          padding: 30px 40px;
          font-family: 'Roboto', sans-serif;
        }

        .box1-side {
            width: 160px;
            float: right;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Roboto', sans-serif;
            position: relative;
        }

        button {
            display: inline-flex;
            background: #68819a;
            width: 10vw;
            height: 70px;
            color: #ffffff;
            font-size: 50px;
            font-family: 'Roboto', sans-serif;
            border: #68819a;
            border-radius: 8px;
            margin: auto;
            transition: all 0.2s;
            justify-content: center;
            align-items: center;
            vertical-align: center;
        }

        .button:hover {
           background: #5c748c;
            transform: scale(1.1);
            border-radius: 8px;
            width: 10vw;
            height: 70px;

        }

        .img1 {
                /*padding: 0;*/
                /*margin: 0 auto auto 0;*/
                margin: auto;
                width: 80%;
                display: block;
                border-radius: 10px;
                /*flex-shrink: 0;*/
                align-items: center;
                /*top: 50%;*/
                /*transform: translateY(50%);*/
                justify-content: center;
            }

            {#.p2 {#}
            {#    line-height: 1.5;#}
            {#    letter-spacing: .2px;#}
            {#    font-size: 16px;#}
            {#    display: inline-flex;#}
            {#    margin-left: 5%;#}
            {#}#}

            {#h2 {#}
            {#    font-size: 22px;#}
            {#    display: inline-flex;#}
            {#    margin-left: 5%;#}
            {#}#}

            ul {
                font-size: 16px;
                margin-left: 5%;
            }

            .textcols1 .textcols1-item:last-child {
                margin-right: 0 ;
            }

            .btn {
                display: flex;
                background: #68819a;
                width: 7vw;
                height: 50px;
                color: #ffffff;
                font-family: 'Roboto', sans-serif;
                border: #68819a;
                border-radius: 8px;
                margin: auto;
                transition: all 0.2s;
                justify-content: center;
                vertical-align: center;
                font-size:3vw;
            }

            .btn:hover {
               background: #5c748c;
                transform: scale(1.1);
                border-radius: 8px;
                width: 7vw;
                height: 50px;
                vertical-align: center;
                color: #ffffff;
                font-size:2vw;
            }
</style>
    <div class="box-container">
      <div class="box1-content">
        <h1>Median TEC</h1>
        <img class="img1" src="{% static 'map-anim1.gif' %}">
        <br>
        <p>To calculate the variations of TEC value on one day we used the data of the Madrigal system capable of
            managing and serving archival and real-time data from a wide range of ground-based instruments
            (http://www.openmadrigal.org/). The TEC data is a diurnal file containing the values of TEC for different
            geographic points with a time step of 5 minutes. These data were averaged by a 15-minute window and
            distributed along a 180x360 grid in one-degree increments. For each time moment, the median value of TEC
            (TECmed) was calculated for the 27 previous days. The TEC deviation from the median value (∂TEC) was
            calculated by the formula:<br><br>
            ∂TEC (lat, long, t) = (TEC (lat, long, t) - TECmed (lat, long, t))/ TECmed (lat, long, t),<br><br>
            where lat is latitude, long is longitude and t is UT. Thus the processing of TEC data reproduces the
            well-known technique from ionosonde data processing. As far as NmF2 gives the significant part of TEC then
            TEC variations can be studied and analyzed in the same manner as NmF2 temporal dynamics in ionosonde studies.</p>
          <div class="box1-side">
            <form method="post" id="tec">
                <br>
                <button type="submit" formaction="/date-selection" class="button" style="font-size:3vw;">⟶</button>
                <input type="hidden" id="source" name="source" value="tec">
            </form>
          </div>
      </div>
    </div>
    <div class="box-container">
      <div class="box1-content content">
        <h1>VLF Signals</h1>
          <img class="img1" src="{% static 'map.jpg' %}">
          <br>
        <p>The high sensitive magnetometric systems "Whistler" are installed in Mikhnevo Geophysical Observatory.
            They allow to register signals from VLF stations located around the globe. The site presents the results of
            measuring of the amplitude of signals from the 5 VLF transmitters: JXN, GQD, NAA, DHO, ICV. The "Whistler"
            characteristics can be found in the Equipment section.</p>
            <div class="box1-side">
                <form method="post" id="vlf">
                    <br>
                    <button type="submit" formaction="/date-selection" class="button" style="font-size:3vw;">⟶</button>
                    <input type="hidden" id="source" name="source" value="vlf">
                </form>
            </div>
      </div>
    </div>
    <div class="box-container">
      <div class="box1-content content">
        <h1>GNSS</h1>
        <p>The Observatory complex for measurement of the ionosphere parameters includes
            three GNSS receivers:</p>
            <ul style="line-height: 1.5; font-size: 18px;">
                <li>Javad Sigma</li>
                <li>Javad Prego</li>
                <li>Trimble 5700</li>
            </ul>
        <p>
            All receivers (with a sampling rate of 1 second). The raw data is saved in the
            Rinex 3.02 format. Based on the results of the measurements, the variations
            of the TEC for each satellite-receiver beam are calculated.</p>

          <style>
            * {
              box-sizing: border-box;
            }

            .col-container {
              display: table;
              {#border: 1px solid #a5c1d3;#}
              width: 100%;
            }
            .col {
              display: table-cell;
              border: 1px solid #a5c1d3;
                border-radius: 5px;
              padding: 16px;
            }

            @media only screen and (max-width: 600px) {
              .col {
                display: block;
                width: 100%;
              }
            }
          </style>


        <div class="col-container">
            <div class="col" style="background: #dce0e3">
              <h2>
                  Javad Sigma
              </h2>
                <br>
                <p>Coordinates: <br>
                    latitude: 54°57´ <br>
                    longitude: 37°46´
                    <br>
                    <br>
                  <ul>
                      <li>GPS L1/L2/L5</li>
                      <li>GLONASS L1/L2</li>
                      <li>SBAS L1/L5</li>
                      <li>1 Hz update rate</li>
                      <br>
                  </ul>
                </p>
                <form method="post" id="vlf">
                    <br>
                    <button type="submit" formaction="/date-selection" class="btn" style="font-size:2vw;">⟶</button>
                    <input type="hidden" id="source" name="source" value="vlf">
                </form>
                <br>
            </div>
                  <div class="col" style="background:#dce0e3">
                      <h2>
                                Javad Prego</h2>
                            <br>
                            <p>Coordinates: <br>
                                latitude: 54°57´ <br>
                                longitude: 37°46´
                                <br>
                                <br>
                                <ul>
                                    <li>GPS L1/L2/L5</li>
                                    <li>1 Hz update rate</li>
                                </ul>
                                <br>
                                <br>
                            </p>
                            <form method="post" id="gps">
                                <br>
                                <button type="submit" formaction="/date-selection" class="btn" style="font-size:2vw;">⟶</button>
                                <input type="hidden" id="source" name="source" value="gps">
                            </form>
                            <br>


                  </div>
                  <div class="col" style="background:#dce0e3">
                    <h2>
                        Trimble 5700</h2>
                      <br>
                      <p>Coordinates: <br>
                                latitude: 54°57´ <br>
                                longitude: 37°46´
                                <br>
                                <br>
                                <ul>
                                    <li>GPS L1/L2/L5</li>
                                    <li>1 Hz update rate</li>
                                </ul>
                                <br>
                                <br>
                      </p>
                      <div class="box2-side">
                          <form method="post" id="vlf">
                              <br>
                              <button type="submit" formaction="/date-selection" class="btn" style="font-size:2vw;">⟶</button>
                              <input type="hidden" id="source" name="source" value="vlf">
                          </form>
                          <br>
                      </div>
                  </div>
        </div>
      </div>
    </div>
{#          <div class="textcols1">#}
{#            <div class="textcols1-item" style="max-height: 1000px; min-height: 400px">#}
{#                <b>Текст первой колонки</b>#}
{#                        <h2> <br>#}
{#                            Javad Sigma</h2>#}
{#                        <br>#}
{#                        <br>#}
{#                        <p class="p2">Coordinates: <br>#}
{#                            latitude: 54°57´ <br>#}
{#                            longitude: 37°46´#}
{#                            <br>#}
{#                            <br>#}
{#                            <ul>#}
{#                                <li>GPS L1/L2/L5</li>#}
{#                                <li>GLONASS L1/L2</li>#}
{#                                <li>SBAS L1/L5</li>#}
{#                                <li>1 Hz update rate</li>#}
{#                            </ul>#}
{#                        </p>#}
{#                        <div class="box2-side">#}
{#                            <form method="post" id="vlf">#}
{#                                <br>#}
{#                                <button type="submit" formaction="/date-selection" class="btn" style="font-size:2vw;">⟶</button>#}
{#                                <input type="hidden" id="source" name="source" value="vlf">#}
{#                            </form>#}
{#                            <br>#}
{#                        </div>#}
{#            </div>#}
{#            <div class="textcols1-item" style="max-height: 1000px; min-height: 400px">#}
{#                        <h2> <br>#}
{#                            Javad Prego</h2>#}
{#                        <br>#}
{#                        <br>#}
{#                        <p class="p2">Coordinates: <br>#}
{#                            latitude: 54°57´ <br>#}
{#                            longitude: 37°46´#}
{#                            <br>#}
{#                            <br>#}
{#                            <ul>#}
{#                                <li>GPS L1/L2/L5</li>#}
{#                                <li>1 Hz update rate</li>#}
{#                            </ul>#}
{#                            <br>#}
{#                            <br>#}
{#                        </p>#}
{#                        <div class="box2-side">#}
{#                            <form method="post" id="gps">#}
{#                                <br>#}
{#                                <button type="submit" formaction="/date-selection" class="btn" style="font-size:2vw;">⟶</button>#}
{#                                <input type="hidden" id="source" name="source" value="gps">#}
{#                            </form>#}
{#                            <br>#}
{#                        </div>#}
{#            </div>#}
{#            <div class="textcols1-item" style="max-height: 1000px; min-height: 400px">#}
{#                        <h2> <br>#}
{#                            Trimble 5700</h2>#}
{#                        <br>#}
{#                        <br>#}
{#                        <p class="p2">Coordinates: <br>#}
{#                            latitude: 54°57´ <br>#}
{#                            longitude: 37°46´#}
{#                            <br>#}
{#                            <br>#}
{#                            <ul>#}
{#                                <li>GPS L1/L2/L5</li>#}
{#                                <li>1 Hz update rate</li>#}
{#                            </ul>#}
{#                            <br>#}
{#                            <br>#}
{#                        </p>#}
{#                        <div class="box2-side">#}
{#                            <form method="post" id="vlf">#}
{#                                <br>#}
{#                                <button type="submit" formaction="/date-selection" class="btn" style="font-size:2vw;">⟶</button>#}
{#                                <input type="hidden" id="source" name="source" value="vlf">#}
{#                            </form>#}
{#                            <br>#}
{#                        </div>#}
{#            </div>#}
{#        </div>#}

    <div class="box-container">
      <div class="box1-content content">
        <h1>LEMI018</h1>
          <br>
        <p></p>
           <div class="box1-side">
{#               # TODO ИЗМЕНИТЬ ПОТОМ#}
            <form method="post" id="vlf">
                <br>
                <button type="submit" formaction="/date-selection" class="button" style="font-size:3vw;">⟶</button>
                <input type="hidden" id="source" name="source" value="vlf">
            </form>
           </div>
      </div>
    </div>

    <div class="box-container">
      <div class="box1-content content">
        <h1>K-index</h1>
          <br>
        <p></p>
           <div class="box1-side">
{#               # TODO ИЗМЕНИТЬ ПОТОМ#}
            <form method="post" id="vlf">
                <br>
                <button type="submit" formaction="/date-selection" class="button" style="font-size:3vw;">⟶</button>
                <input type="hidden" id="source" name="source" value="vlf">
            </form>
           </div>
      </div>
    </div>

    <div class="box-container">
      <div class="box1-content content">
        <h1>Temperature</h1>
          <br>
        <p></p>
           <div class="box1-side">
{#               # TODO ИЗМЕНИТЬ ПОТОМ#}
            <form method="post" id="vlf">
                <br>
                <button type="submit" formaction="/date-selection" class="button" style="font-size:3vw;">⟶</button>
                <input type="hidden" id="source" name="source" value="vlf">
            </form>
           </div>
      </div>
    </div>

    <div class="box-container">
      <div class="box1-content content">
        <h1>Humidity</h1>
          <br>
        <p></p>
           <div class="box1-side">
{#               # TODO ИЗМЕНИТЬ ПОТОМ#}
            <form method="post" id="vlf">
                <br>
                <button type="submit" formaction="/date-selection" class="button" style="font-size:3vw;">⟶</button>
                <input type="hidden" id="source" name="source" value="vlf">
            </form>
           </div>
      </div>
    </div>

    <div class="box-container">
      <div class="box1-content content">
        <h1>Atmosphere pressure</h1>
          <br>
        <p></p>
           <div class="box1-side">
{#               # TODO ИЗМЕНИТЬ ПОТОМ#}
            <form method="post" id="vlf">
                <br>
                <button type="submit" formaction="/date-selection" class="button" style="font-size:3vw;">⟶</button>
                <input type="hidden" id="source" name="source" value="vlf">
            </form>
           </div>
      </div>
    </div>

    <div class="box-container">
      <div class="box1-content content">
        <h1>Wind speed</h1>
          <br>
        <p></p>
           <div class="box1-side">
{#               TODO ИЗМЕНИТЬ ПОТОМ#}
            <form method="post" id="vlf">
                <br>
                <button type="submit" formaction="/date-selection" class="button" style="font-size:3vw;">⟶</button>
                <input type="hidden" id="source" name="source" value="vlf">
            </form>
           </div>
      </div>
    </div>

    <script>
    const container = document.querySelector('.box-container');
    const contents = document.querySelectorAll('.content');
    const buttons = document.querySelectorAll('button');

    buttons.forEach( button => button.addEventListener('click', function() {
      container.classList.toggle('right-open');
    }));
    </script>


{% endblock %}