{% extends "base_page.html" %}

{% block pagetitle %}
    Date picker
{% endblock %}

{#{% block page-title %}#}
{#{% endblock %}#}
{##}
{#{% block page-lead %}#}
{#{% endblock %}#}


{% block content %}
    <style>
        .wrapper {
            margin: 15px auto;
            max-width: 1100px;
        }

        .container-calendar {
            background: #ffffff;
            padding: 15px;
            max-width: 475px;
            margin: 0 auto;
            overflow: auto;
        }

        .button-container-calendar button {
            cursor: pointer;
            display: inline-block;
            zoom: 1;
            background: #00a2b7;
            color: #fff;
            border: 1px solid #0aa2b5;
            border-radius: 4px;
            padding: 5px 10px;
        }

        .button-container-calendar arrow {
            cursor: pointer;
            display: inline-block;
            zoom: 1;
            background: #00a2b7;
            color: #fff;
            border: 1px solid #0aa2b5;
            border-radius: 4px;
            padding: 5px 10px;
        }

        .table-calendar {
            border-collapse: collapse;
            width: 100%;
        }

        .table-calendar td, .table-calendar th {
            padding: 5px;
            border: 1px solid #e2e2e2;
            text-align: center;
            font-family: 'Roboto', sans-serif;
            vertical-align: top;
            width: 70px
        }

        /* sunday */
        .date-picker:nth-child(1) {
            color: #0a0a0a;
            font-family: 'Roboto', sans-serif;
        }

        /* friday */
        .date-picker:nth-child(6) {
            color: #0e0e0e;
            font-family: 'Roboto', sans-serif;
        }

        #monthAndYear {
            text-align: center;
            margin-top: 0;
            font-family: 'Roboto', sans-serif;
        }

        .button-container-calendar {
            position: relative;
            margin-bottom: 1em;
            overflow: hidden;
            clear: both;
        }

        .btn-previous {
            float: left;
            display: inline-block;
            background: #00a2b7;
            color: #fff;
            border-radius: 3px;
            font-family: 'Roboto', sans-serif;
            height: 30px;
            width: 26px;
            border: 1px solid #0aa2b5;
        }

        .btn-previous:hover {
            background: #098696;
            color: #f8f6f6;
            border: 1px solid #098696;
        }

        .btn-next {
            float: right;
        {#display: inline-flex;#} display: inline-block;
            background: #00a2b7;
            color: #fff;
            border-radius: 3px;
            font-family: 'Roboto', sans-serif;
            height: 30px;
            width: 26px;
            border: 1px solid #0aa2b5;
        {#justify-content: center;#}{#align-items: center;#}{#vertical-align: center;#}
        }

        .btn-next:hover {
            background: #098696;
            color: #f8f6f6;
            border: 1px solid #098696;
        }

        .footer-container-calendar {
            margin-top: 1em;
            border-top: 1px solid #dadada;
            padding: 10px 0;
        }

        .footer-container-calendar select {
            cursor: pointer;
            display: inline-block;
            zoom: 1;
            background: #ffffff;
            color: #585858;
            font-family: 'Roboto', sans-serif;
            border: 1px solid #bfc5c5;
            border-radius: 3px;
            padding: 5px 1em;
        }
    </style>
    <br>
    <form method="post">
        <div style="margin: 0 auto; width: 280px; height: 45px;">
            <div style="position:relative">
                <input id="mydate" name="mydate" type="text" class="form-control"
                       style="font-family: 'Roboto', sans-serif;"
                       placeholder="DD/MM/YYYY">
                <span style="font-size: 20px;
                            position: absolute;
                            margin: 0 auto;
                            font-family: 'Roboto', sans-serif;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            pointer-events: none;
                            top: 6px;
                            right: 50%;"
                      class="glyphicon glyphicon-calendar"></span>
            </div>
        </div>
        <div class="wrapper">
            <div class="container-calendar">
                <h3 id="monthAndYear"></h3>
                <div class="button-container-calendar">
                    <input class="btn-previous" type="submit" formaction="/get-vlf-data" value=&#8249;
                           onclick="previous()">
                    {#                    <input class="btn btn-info" type="button" style="display: inline-block; background: #00a2b7; color: #fff; border: 1px solid #0aa2b5;" value=&#8249; onclick="previous()">#}
                    {#                    <input class="btn btn-info" type="button" style="display: inline-block; background: #00a2b7; color: #fff; border: 1px solid #0aa2b5;" value=&#8250; onclick="next()">#}
                    <input class="btn-next" type="submit" formaction="/get-vlf-data" value=&#8250; onclick="next()">
                    <input type="hidden" id="selected_new_month" name="selected_new_month" value="">
                    <input type="hidden" id="new_month" name="new_month" value="">
                    <input type="hidden" id="new_year" name="new_year" value="">

                    {#                    <div class="arrow" id="previous" type="button" style="cursor: pointer; display: inline-block; zoom: 1; background: #00a2b7; color: #fff; border: 1px solid #0aa2b5; border-radius: 4px; padding: 5px 10px;" onclick="previous()">&#8249;</div>#}
                    {#                    <div class="btn btn-info" id="next" type="button" style="cursor: pointer; display: inline-block; zoom: 1; background: #00a2b7; color: #fff; border: 1px solid #0aa2b5; border-radius: 4px; padding: 5px 10px;" onclick="next()">&#8250;</div>#}
                </div>
                <table class="table-calendar" id="calendar" data-lang="en">
                    <thead id="thead-month"></thead>
                    <tbody id="calendar-body"></tbody>
                </table>
                <div class="footer-container-calendar">
                    <label for="month" style="font-family: 'Roboto', sans-serif;">Select
                        month and year </label>
                    {#                    <form method="post" onsubmit="submitMonth()">#}
                    <select id="month" onchange="jump()">
                        {#                    <form method="get" id="Month">#}
                        {#                        <select id="month" onchange="document.getElementById('Month').submit()">#}
                        <option value=0>Jan</option>
                        <option value=1>Feb</option>
                        <option value=2>Mar</option>
                        <option value=3>Apr</option>
                        <option value=4>May</option>
                        <option value=5>Jun</option>
                        <option value=6>Jul</option>
                        <option value=7>Aug</option>
                        <option value=8>Sep</option>
                        <option value=9>Oct</option>
                        <option value=10>Nov</option>
                        <option value=11>Dec</option>
                    </select>
                    {#                    <input type="hidden" id="selected_new_month" name="selected_new_month" value="">#}
                    {#                    <input type="hidden" id="new_month" name="new_month" value="">#}
                    {#                    <input type="submit" onclick="">#}
                    {#                    </form>#}
                    <select id="year" onchange="jump()"></select>
                    {#                    <input type="hidden" id="new_year" name="new_year" value="">#}
                </div>
            </div>
        </div>
        <script>
            function generate_year_range(start, end) {
                var years = "";
                for (var year = start; year <= end; year++) {
                    years += "<option value='" + year + "'>" + year + "</option>";
                }
                return years;
            }

            currentMonth = {{ current_month }} -1;
            currentYear = {{ current_year }};
            selectYear = document.getElementById("year");
            selectMonth = document.getElementById("month");


            createYear = generate_year_range(2010, 2050);
            /** or
             * createYear = generate_year_range( 1970, currentYear );
             */

            document.getElementById("year").innerHTML = createYear;

            var calendar = document.getElementById("calendar");
            var lang = calendar.getAttribute('data-lang');

            var months = "";
            var days = "";

            var monthDefault = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

            var dayDefault = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"];

            months = monthDefault;
            days = dayDefault;

            var $dataHead = "<tr>";
            for (dhead in days) {
                $dataHead += "<th data-days='" + days[dhead] + "'>" + days[dhead] + "</th>";
            }
            $dataHead += "</tr>";

            //alert($dataHead);
            document.getElementById("thead-month").innerHTML = $dataHead;

            monthAndYear = document.getElementById("monthAndYear");
            showCalendar(currentMonth, currentYear);

            function next() {
                currentYear = ({{ current_month }} === 12
            )
                    ? {{ current_year }} +1 : {{ current_year }};
                currentMonth = ({{ current_month }}) % 12;
                const new_month = document.getElementById("new_month");
                new_month.value = currentMonth;
                const new_year = document.getElementById("new_year");
                new_year.value = currentYear;
                const selected_new_month = document.getElementById("selected_new_month");
                selected_new_month.value = 'selected';
            }

            function previous() {
                currentYear = ({{ current_month }} === 1
            )
                    ? {{ current_year }} -1 : {{ current_year }};
                currentMonth = ({{ current_month }} === 1
            )
                    ? 11 : {{ current_month }} -2;
                const new_month = document.getElementById("new_month");
                new_month.value = currentMonth;
                const new_year = document.getElementById("new_year");
                new_year.value = currentYear;
                const selected_new_month = document.getElementById("selected_new_month");
                selected_new_month.value = 'selected';
                {#showCalendar(currentMonth, currentYear);#}
            }

            function current_mon() {
                currentYear = {{ current_year }};
                currentMonth = {{ current_month }} -1;
                const new_month = document.getElementById("new_month");
                new_month.value = currentMonth;
                const new_year = document.getElementById("new_year");
                new_year.value = currentYear;
                {#showCalendar(currentMonth, currentYear);#}
            }

            function jump() {
                currentYear = parseInt(selectYear.value);
                currentMonth = parseInt(selectMonth.value);
                showCalendar(currentMonth, currentYear);
                {#let el = document.querySelector('#month');#}
                {#el.addEventListener('change', function () {#}
                {#    document.location.reload();#}
                {#})#}
                }

                {#const new_month = document.getElementById("month")#}
                {#new_month.value = currentMonth;#}
                {#d = document.getElementById("month").value;#}
                {#const new_year = document.getElementById("year");#}
                {#new_year.value = currentYear;#}
                {#const selected_new_month = document.getElementById("selected_new_month");#}
                {#selected_new_month.value = 'selected';#}
                {#location.href = "./qqq.php";#}
                {#alert(d);#}
                {#}#}

                    function showCalendar(month, year) {
                        var firstDay = (new Date(year, month, 7)).getDay();
                        tbl = document.getElementById("calendar-body");
                        tbl.innerHTML = "";
                        monthAndYear.innerHTML = months[month] + " " + year;
                        selectYear.value = year;
                        selectMonth.value = month;

                        // creating all cells
                        let avail_days = {{ avail_days }};
                        let date = 1;
                        for (let i = 0; i < 7; i++) {
                            let row = document.createElement("tr");
                            for (let j = 0; j < 7; j++) {
                                if (i === 0 && j < firstDay) {
                                    cell = document.createElement("td");
                                    cellText = document.createTextNode("");
                                    cell.appendChild(cellText);
                                    row.appendChild(cell);
                                } else if (date > daysInMonth(month, year)) {
                                    break;
                                } else {
                                    cell = document.createElement("td");
                                    cell.setAttribute("data-date", date);
                                    cell.setAttribute("data-month", month + 1);
                                    cell.setAttribute("data-year", year);
                                    cell.setAttribute("data-month_name", months[month]);
                                    cell.className = "date-picker";
                                    cell.innerHTML = "<span>" + date + "</span>";

                                    today = new Date();
                                    if (date === today.getDate() && year === today.getFullYear() && month === today.getMonth()) {
                                        cell.className = "date-picker selected";
                                    }
                                    cell.date = `${date}`
                                    // cell.setAttribute("style", "textColor=#fff")
                                    for (let d of avail_days) {
                                        if (d !== date) {
                                            continue;
                                        }
                                        cell.style.fontWeight = 'bold';
                                        cell.style.textDecoration = "underline";
                                        cell.addEventListener("click", function (event) {
                                            var cell_date = event.currentTarget.date
                                            // noinspection EqualityComparisonWithCoercionJS
                                            if (1 == cell_date.length) {
                                                cell_date = '0' + cell_date
                                            }
                                            var cell_mon = `${month + 1}`
                                            // noinspection EqualityComparisonWithCoercionJS
                                            if (1 == cell_mon.length) {
                                                cell_mon = '0' + cell_mon
                                            }
                                            sessionStorage.setItem("selected_day", cell_date)
                                            {#cell.setAttribute("selected_day", cell_date);#}
                                            sessionStorage.setItem("selected_mon", cell_mon)
                                            sessionStorage.setItem("selected_year", year)
                                            const mydate = document.getElementById("mydate")
                                            mydate.value = cell_date + '/' + cell_mon + '/' + year
                                        })
                                        break
                                    }
                                    row.appendChild(cell);
                                    date++;
                                }
                            }
                            tbl.appendChild(row);
                        }
                    }

                    function daysInMonth(iMonth, iYear) {
                        return 32 - new Date(iYear, iMonth, 32).getDate();
                    }
        </script>
        <script>
            const mydate = document.getElementById('mydate');
            mydate.value = '{{ mydate }}';
            if ('{{ success }}' === 'False') {
                alert('{{ comment }}')
            }
        </script>
        <div class="row px-5 py-2">
            <button type="submit" formaction="/get-vlf-data" class="btn btn-info" onclick="current_mon()"
                    style="font-family: 'Roboto', sans-serif; font-size: 20px; color: white; margin: 0 auto; background-color: #00a2b7; width: 150px; height: 45px; border: #00a2b7; display: inline-block">
                View
            </button>
        </div>
    </form>
{% endblock %}
