{% extends "base_page.html" %}

{% block pagetitle %}
    Equipment
{% endblock %}


{% block content %}
    <div class="container px-4 py-5" id="main-contents">
        <h2 class="pb-2 border-bottom"
            style="font-family: 'Roboto', sans-serif; font-size: 30px; font-weight: 300;">Median TEC</h2>
        <p style="font-family: 'Roboto', sans-serif; font-weight: 300;">To calculate the variations
            of TEC value on one day we used the data of the Madrigal system
            capable
            of managing and serving archival and real-time data from a wide range
            of ground-based instruments
            (http://www.openmadrigal.org/). The TEC data is a diurnal file
            containing the values of TEC for
            different geographic points with a time step of 5 minutes. These data
            were averaged by a 15-minute
            window and distributed along a 180x360 grid in one-degree increments.
            For each time moment, the
            median value of TEC (TECmed) was calculated for the 27 previous days.
            The TEC deviation from the
            median value (∂TEC) was calculated by the formula:<br><br>

            ∂TEC (lat, long, t) = (TEC (lat, long, t) - TECmed (lat, long, t))/
            TECmed (lat, long, t),<br><br>
            where lat is latitude, long is longitude and t is UT. Thus the
            processing of TEC data reproduces the
            well-known technique from ionosonde data processing. As far as NmF2
            gives the significant part of
            TEC then TEC variations can be studied and analyzed in the same manner
            as NmF2 temporal dynamics in
            ionosonde studies.
            <br>
        </p>
        <form method="post" id="tec">
            <button type="submit" formaction="/date-selection" class="btn">Browse data</button>
            <input type="hidden" id="source" name="source" value="tec">
        </form>
{#        <div class="data">#}
{#            <a href="/date-selection" class="btn" style="">Browse data</a>#}
{#        </div>#}
    </div>
    <div class="container px-4 py-5" id="main-contents">
        <h2 class="pb-2 border-bottom"
            style="font-family: 'Roboto', sans-serif; font-size: 30px; font-weight: 300;">VLF Signals</h2>
        {#        <hr>#}
        <p style="font-family: 'Roboto', sans-serif; font-weight: 300;">The high sensitive
            magnetometric systems "Whistler" are installed in Mikhnevo Geophysical
            Observatory. They allow to register signals from VLF stations located
            around the globe. The site
            presents the results of measuring of the amplitude of signals from the
            5 VLF transmitters: JXN, GQD,
            NAA, DHO, ICV. The "Whistler" characteristics can be found in the
            Equipment section.
            <br>
        </p>
        <style>
            .btn {
                display: inline-flex;
                background: #68819a;
            {#font-size: 16px;#} width: 150px;
                height: 45px;
                color: #ffffff;
                font-size: 18px;
                font-weight: 300;
                font-family: 'Roboto', sans-serif;
                border: #68819a;
                border-radius: 4px;
                margin: auto;
                justify-content: center;
                align-items: center;
                vertical-align: center;
            }

            .btn:hover {
                background: #5c748c;
                color: #f8f6f6;
            }
        </style>
        <form method="post" id="vlf">
            <button type="submit" formaction="/date-selection" class="btn">Browse data</button>
            <input type="hidden" id="source" name="source" value="vlf">
        </form>
{#        <div class="data">#}
{#            <a href="/date-selection" class="btn" style="">Browse data</a>#}
            {#            <p style="font-family: 'Roboto', sans-serif;">BROWSE DATA</p>#}
{#        </div>#}
    </div>
    <div class="container px-4 py-5" id="main-contents">
        <h2 class="pb-2 border-bottom"
            style="font-family: 'Roboto', sans-serif; font-size: 30px; font-weight: 300;">GNSS</h2>
        <p style="font-family: 'Roboto', sans-serif; font-weight: 300;">The Observatory complex for
            measurement of the ionosphere parameters includes three GNSS
            receivers:<br>
            <br>- Javad Sigma
            <br>- Javad Prego
            <br>- Trimble 5700
            <br><br>
            All receivers (with a sampling rate of 1 second). The raw data is
            saved in the Rinex 3.02 format.
            Based on the results of the measurements, the variations of the TEC
            for each satellite-receiver beam
            are calculated.
            <br>
        </p>
{#        <div class="data">#}
{#            <a href="/date-selection" class="btn" style="">Browse data</a>#}
{#        </div>#}
    </div>

    {#    <div id="main">#}

    <style>
        .column {
            float: left;
            width: 33.33%;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>

    <div class="container px-4 py-5" id="main-contents">
        <div class="row">
            <div class="column">
                {#        <div class="col-md-4">#}
                {#            <div class="box">#}
                <h2 style="font-family: 'Roboto', sans-serif; font-weight: 300;">Javad Sigma</h2>
                <hr>
                <p style="font-family: 'Roboto', sans-serif; font-weight: 300;">latitude: 54°57´<br>
                    longitude: 37°46´<br><br>
                    - GPS L1/L2/L5<br>
                    - GLONASS L1/L2<br>
                    - SBAS L1/L5<br>
                    - 1 Hz update rate
                    <br>
                </p>
                <div class="data">
                    <a href="/date-selection" class="btn" style="">Browse data</a>
                </div>
            </div>
            {#        </div>#}
            <div class="column">
                {#        <div class="col-md-4">#}
                {#            <div class="box">#}
                <h2 style="font-family: 'Roboto', sans-serif; font-weight: 300;">Javad Prego</h2>
                <hr>
                <p style="font-family: 'Roboto', sans-serif; font-weight: 300;">latitude: 54°57´<br>
                    longitude: 37°46´<br><br>
                    - GPS L1/L2/L5<br>
                    - 1 Hz update rate
                    <br>
                </p>
                <div class="data">
                    <a href="/date-selection" class="btn" style="">Browse data</a>
                </div>
            </div>
            {#        </div>#}
            {#        <div class="col-md-4">#}
            {#            <div class="box">#}
            <div class="column">
                <h2 style="font-family: 'Roboto', sans-serif; font-weight: 300;">Trimble 5700</h2>
                <hr>
                <p style="font-family: 'Roboto', sans-serif; font-weight: 300;">latitude: 54°57´<br>
                    longitude: 37°46´<br><br>
                    - GPS L1/L2/L5<br>
                    - 1 Hz update rate
                    <br>
                </p>
                <div class="data">
                    <a href="/date-selection" class="btn" style="">Browse data</a>
                </div>
            </div>
        </div>
    </div>
    {#    </div>#}
{% endblock %}