{% extends "base_page.html" %}

{% block pagetitle %}
    VLF data
{% endblock %}

{% load static %}

{% block content %}
    <div class="container px-4 py-5" id="main-contents">
        <style>
            .btn {
                float: left;
                display: inline-block;
                background: #68819a;
                font-size: 20px;
                width: 200px;
                color: white;
                font-family: 'Roboto', sans-serif;
                border: #68819a;
                border-radius: 8px;
            }

            .btn:hover {
                background: #5c748c;
                color: #f8f8f8;
            }
        </style>
        <form method="post" id="date_form">
{#        <a href="/date-selection" class="btn">Back to date picker</a>#}
            <input class="btn" type="submit" formaction="/date-selection" value="Back to date picker">
            <input type="hidden" id="source" name="source" value="{{ source }}">
        </form>
        <a href="/" class="btn" style="float: right;">To Home Page</a>
    </div>
   <style>
        .new1 div {
          border: 1px solid #0e0e0e;
        }

        .new1 .first-li {
          grid-column-start: 3;
          grid-column-end: 1;
          {#grid-row-start: 1;#}
          {#grid-row-end: 2;#}
        }

        * { box-sizing: border-box; }
        body { margin: 0; border-color: #1a1e21; }

        .grid
        {
          display: grid;
          grid-template-columns: 1fr 1fr;
          {#grid-gap: 10px;#}
          width: 90%;
          margin-left: 5%;

          background-color: #fbfbfc;
          padding: 10px;

          min-height: 100vh;
        }

        .grid__item
        {
          border-radius: 4px;
            border: 1px solid #030303;
          min-height: 20vh;
        }

        .grid__item--small
        {
          background-color: #e5e9ea;
            min-height: 20vh;
            {#float: right;#}
            {#grid-column: 2;#}
        }

        .grid__item--big
        {
          background-color: #e5e9ea;
          grid-row: 5 span;
          {#float: left;#}
            grid-column: 1;
        }

        .btn_view {
                display: inline-flex;
                background: #68819a;
            {#font-size: 16px;#} width: 140px;
                height: 45px;
                color: #ffffff;
                font-size: 20px;
                font-family: 'Roboto', sans-serif;
                border: #68819a;
                border-radius: 8px;
                margin: auto;
                justify-content: center;
                align-items: center;
                vertical-align: center;
        }

        .btn_view:hover {
                background: #5c748c;
                color: #f8f6f6;
        }
    </style>


<div class="grid">
    <div class="grid__item grid__item--big">
        <img src="{% static 'test.jpg' %}" alt="" style="width: 90%; margin-left: 5%;">
    </div>
    <div class="grid__item grid__item--small">
        <img src="{% static 'test.jpg' %}" alt="" style="width: 90%; margin-left: 5%;">
    </div>
    <div class="grid__item grid__item--small">
      <img src="{% static 'test.jpg' %}" alt="" style="width: 90%; margin-left: 5%;">
    </div>
    <div class="grid__item grid__item--small">
        <img src="{% static 'test.jpg' %}" alt="" style="width: 90%; margin-left: 5%;">
    </div>
    <div class="grid__item grid__item--small">
        <img src="{% static 'test.jpg' %}" alt="" style="width: 90%; margin-left: 5%;">
    </div>
    <div class="grid__item grid__item--small">
        <img src="{% static 'test.jpg' %}" alt="" style="width: 90%; margin-left: 5%;">
    </div>
</div>

    <div style="align-items: center; margin: 0 auto; text-align: center; font-size: 18px">
        <br>
        <label for="stations" style="font-family: 'Roboto', sans-serif;">Select
            station </label>
        <select id="stations" onchange="stat()"></select>
        <br>
        <br>
        <form method="post" id="gps">
            <button type="submit" formaction="/gps" class="btn_view" onclick="view_data()">View</button>
{#            <input type="hidden" id="source" name="source" value="gps">#}
            <input type="hidden" id="new_stat" name="new_stat" value="">
        </form>
    </div>
    <script>
        function stat(){
            let selectStat = document.getElementById('stations');
            for (var i = 0; i < 32; i++){
                selectStat.options[selectStat.options.length] = new Option((i+1).toString(), i.toString());
            }
        }
        stat();
        const selectStat = document.getElementById('stations');
        selectStat.selectedIndex = {{ new_stat }} - 1;

        function view_data() {
               const selectStat = document.getElementById('stations');
                let currentStat = selectStat.options[selectStat.selectedIndex].text;
                const new_stat = document.getElementById("new_stat");
                new_stat.value = currentStat;
                {#showCalendar(currentMonth, currentYear);#}
        }

    </script>
{#    {% else %}Ваш запрос завершился с ошибкой.{% endif %}</div>#}
{% endblock %}
