{% extends "base_page.html" %}

{% block pagetitle %}
    GPS
{% endblock %}

{% load static %}

{% block content %}
{#    <div class="fw-bold">#}
    <div>
        <style>
            .btn {
                float: left;
                display: inline-block;
                background: #68819a;
                font-size: 20px;
                width: 200px;
                color: white;
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                border: #68819a;
                border-radius: 8px;
            }

            .btn:hover {
                background: #5c748c;
                color: #f8f8f8;
            }

            .btn_up {
                display: inline-block;
                background: #68819a;
                font-size: 20px;
                width: 160px;
                color: white;
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                border: #68819a;
                border-radius: 8px;
                min-height: 40px;
            }

            .btn_up:hover {
                background: #576f88;
                color: #f8f6f6;
            }


            .center {
                max-width: 1000px;
                align-content: center;
                margin-left: auto;
                margin-right: auto;
                {#width: 100%; /* Try setting this to 400px or something */#}
                {#display: table;#}
            }
            .child {
                {#display: table-cell;#}
                align-content: center;
                width: 33%;
                padding: 0 15px;
            }
            .child:first-child .childinner {
                margin-left: 0;
            }
        </style>
        <form method="post" id="date_form">
            <table class="center">
                <td class="child">
                    <input class="btn_up" type="submit" formaction="/get-vlf-data" style="float: right;" value="Previous day" onclick="previous()">
                </td>
                <td class="child" style="text-align: center;">
                    <input class="btn_up" type="submit" formaction="/date-selection" style="text-align:center;" value="Calendar">
                </td>
                <td class="child">
                    <input class="btn_up" type="submit" formaction="/get-vlf-data" style="float: left;" value="Next day" onclick="next()">
                </td>
            </table>
            <input type="hidden" id="button_name" name="button_name" value="">
            <input type="hidden" id="new_stat" name="new_stat" value="">
            <input type="hidden" id="new_day" name="new_day" value="">
            <input type="hidden" id="new_month" name="new_month" value="">
            <input type="hidden" id="new_year" name="new_year" value="">
            <input type="hidden" id="source" name="source" value="{{ source }}">
            <span style="font-family: Roboto, sans-serif; font-weight: 300; align-items: center; font-size: 25px; justify-content: center; margin: auto; display: flex;" id="nodata">
                <br><br>
                NO DATA FOR {{ current_day }}/{{ current_month }}/{{ current_year }}
            </span>
            <style>
                .new1 div {
                  border: 1px solid #0e0e0e;
                }

                .new1 .first-li {
                  grid-column-start: 3;
                  grid-column-end: 1;
                  {#grid-row-start: 1;#}
                  {#grid-row-end: 2;#}
                }

                * { box-sizing: border-box; }
                body { margin: 0; border-color: #1a1e21; }

                .outer-grid {
                    display: flex;
                    {#display: block;#}
                    flex-wrap: wrap;
                }

                .grid-left
                {
                  display: grid;
                  {#grid-template-columns: 1fr;#}
                  width: 100%;
                  min-width: 300px;
                  max-width: 600px;
                  margin-left: auto;
                  {#margin-left: auto;#}
                  {#margin-right: auto;#}
                  {#min-height: 90vh;#}
                }

                .grid-right
                {
                  display: grid;
                  {#grid-template-columns: 1fr;#}
                  width: 100%;
                  min-width: 300px;
                  max-width: 600px;
                  margin-right: auto;
                  {#margin-left: auto;#}
                  {#margin-right: auto;#}
                  {#min-height: 90vh;#}
                }

                .grid__item
                {
                  border-radius: 4px;
                    {#border: 1px solid #fbfbfc;#}
                    {#border: 1px solid #030303;#}
                  min-height: 16vh;
                }

                .grid__item--small
                {
                    {#background-color: #fbfbfc;#}
                  {#background-color: #e5e9ea;#}
                  {#  min-height: 20vh;#}
                    {#align-items: center;#}
                    justify-content: left;
                    float: left;
                    {#max-height: 195px;#}
                    {#margin-left: 0;#}
                    {#margin: 15px;#}
                    margin: 0;
                    {#grid-column: 2;#}
                }

                .grid__item--big
                {
                  {#background-color: #fbfbfc;#}
                  grid-row: 5 span;
                  justify-content: right;
                  float: right;
                  {#float: left;#}
                    grid-column: 1;
                }

                .img_big {
                    width: 100%;
                    margin-left: 10px;
                    {#margin-left: 20%;#}
                    {#margin-right: 5%;#}
                }

                .img_small {
                    margin-right: 10px;
                    {#margin-right: 20%;#}
                    {#margin-left: 5%;#}
                }

                 @media (min-width:0px) and (max-width:1199px) {
                     .grid-left {
                         {#float: none;#}
                         justify-content: center;
                         margin-right: auto;
                         margin-left: auto;
                         width: 100%;
                     }

                     .grid-right {
                         {#float: none;#}
                         justify-content: center;
                         margin-right: auto;
                         margin-left: auto;
                         width: 100%;
                     }

                     .grid__item--small {
                         float: none;
                         justify-content: center;
                         display: flex;
                     }

                     .img_big {
                            width: 100%;
                            margin-left: auto;
                         padding-left: 10px;
                         padding-right: 10px;
                     }

                        .img_small {
                            width: 100%;
                            margin-right: auto;
                            padding-left: 10px;
                            padding-right: 10px;
                        }
                 }

                .btn_view {
                        display: inline-flex;
                        background: #68819a;
                    {#font-size: 16px;#} width: 140px;
                        height: 45px;
                        color: #ffffff;
                        font-size: 20px;
                        font-family: 'Roboto', sans-serif;
                        border: #68819a;
                        border-radius: 8px;
                        margin: auto;
                        justify-content: center;
                        align-items: center;
                        vertical-align: center;
                }

                .btn_view:hover {
                        background: #5c748c;
                        color: #f8f6f6;
                }


                {#body { margin: 0; height: 100vh; overflow: hidden; background: 0% 0% / auto no-repeat url('https://i.stack.imgur.com/m9NKc.png'), #58555c; }#}
                .gallery {
                    position: relative;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-evenly;
                    {#align-items: center;#}
                    {#height: 100%; #}
                    {#width: 90%;#}
                    margin: 0 auto;
                    background-color: #fff;
                    {#width: 100%#}
                }
                .gallery img {
                  height: auto;
                    {#margin: 10px;#}
                    {#width: 200px; #}
                  {#box-shadow: 0 0 0 5px #fff, 0 0 0 6px #919191;#}
                  {#transition: .5s linear; cursor: pointer;#}
                }
                .show img { opacity: .25; pointer-events: none; }
                .active {
                  transition: box-shadow .5s linear .5s;
                  {#transition: box-shadow .5s linear .5s, top 1s ease-out, left 1s ease-out, transform 1s ease-out, width 1s ease-in, height 1s ease-in;#}
                  {#box-shadow: 0 0 0 10px #fff; filter: drop-shadow(1px 2px 6px #000);#}
                  pointer-events: none;
                }
                .close {
                  position: relative; left: 100%;
                  height: 20px; width: 20px;
                  transform: translate(0%, -100%);
                  border-radius: 50%;
                  box-shadow: 0 0 0 2px #fff, 0 0 2px 2px #000;
                  font: bold 20px/20px Arial; text-align: center;
                  background-color: #000; color: #fff;
                  pointer-events: auto; cursor: pointer;
                  {#transition: 1s linear; opacity: 0;#}
                  {#transition: 1s linear; opacity: 0;#}
                }
                .active .close:hover { transform: translate(0%, -100%) rotate(.5turn); transition: 1s ease; }

            </style>

            <div class="outer-grid" id="figures">
                <div class="grid-left">
                    <div class="grid__item grid__item--big">
                        <div class="gallery">
                            <img class="img_big" id="img_{{ im_all }}" src='{{ im_all }}' alt="">
                        </div>
                    </div>
                </div>
                <div class="grid-right">
                    {% for im in images %}
                        <div class="grid__item grid__item--small">
                            <img class="img_small" id="img_{{ im }}" src='{{ im }}' alt="">
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div style="align-items: center; margin: 0 auto; text-align: center; font-size: 18px">
                <br>
                <label for="stations" style="font-family: 'Roboto', sans-serif;">Select
                    station </label>
                <select id="stations" onchange="stat()"></select>
                <br>
                <br>
                <button type="submit" style="font-weight: 300; font-family: Roboto, sans-serif;" formaction="/get-vlf-data" class="btn_view" onclick="view_data()">View</button>
            </div>
        </form>
    </div>

    <script>

        if ('{{ no_data }}' === 'True') {
            document.getElementById("figures").style.display = 'none';
        } else {
            document.getElementById("nodata").style.display = 'none';
        }

        const oGallery = document.querySelector('.gallery');
        oGallery.addEventListener('click', function(ev) {
          if (ev.target.tagName != 'IMG') { return false; }
          let oTarget = ev.target, nWidth, nHeight, nRatio = oTarget.offsetWidth / oTarget.offsetHeight;
          let oBig = this.appendChild(document.createElement('DIV'));
          oBig.style.position = `absolute`;
          oBig.style.top = `${oTarget.offsetTop}px`; oBig.style.left = `${oTarget.offsetLeft}px`;
          oBig.style.width = `${oTarget.offsetWidth}px`; oBig.style.height = `${oTarget.offsetHeight}px`;
          if (this.offsetHeight < this.offsetWidth) {
            nHeight = this.offsetHeight; nWidth = nHeight * nRatio;
          } else {
            nWidth = this.offsetWidth; nHeight = nWidth / nRatio;
          }
          oBig.style.background = `center / 100% 100% no-repeat url('${oTarget.currentSrc}')`;
          oBig.insertAdjacentHTML('beforeend', '<div class="close" style="font-size: 20px">×</div>');
          oBig.addEventListener('transitionend', function() { this.querySelector('.close').style.opacity = 1; });
          oBig.addEventListener('click', function(ev) {
            ev.stopPropagation();
            this.addEventListener('transitionend', function() { this.remove(); });
            {#this.style.transition = `.5s ease-in`;#}
            this.style.height = this.style.width = `0px`;
          oGallery.classList.toggle('show', false);
          });
          oBig.classList.toggle('active');
          oBig.style.width = `${nWidth / 0.8}px`; oBig.style.height = `${nHeight / 0.8}px`;
          oBig.style.top = oBig.style.left = `50%`;
          oBig.style.transform = `translate(-50%, -50%) rotate(1turn)`;
          oGallery.classList.toggle('show', true);
        });


        function stat(){
            let selectStat = document.getElementById('stations');
            for (var i = 0; i < 32; i++){
                selectStat.options[selectStat.options.length] = new Option((i+1).toString(), i.toString());
            }
        }
        stat();
        const selectStat = document.getElementById('stations');
        selectStat.selectedIndex = {{ new_stat }} - 1;

        function view_data() {
               const selectStat = document.getElementById('stations');
                let currentStat = selectStat.options[selectStat.selectedIndex].text;
                const new_stat = document.getElementById("new_stat");
                new_stat.value = currentStat;
                let currentMonth = '{{ current_month }}';
                let currentYear = '{{ current_year }}';
                let currentDay = '{{ current_day }}';
                const new_day = document.getElementById("new_day");
                new_day.value = currentDay;
                const new_month = document.getElementById("new_month");
                new_month.value = currentMonth;
                const new_year = document.getElementById("new_year");
                new_year.value = currentYear;
        }

        function next() {
               const selectStat = document.getElementById('stations');
                let currentStat = selectStat.options[selectStat.selectedIndex].text;
                const new_stat = document.getElementById("new_stat");
                new_stat.value = currentStat;
                let currentMonth = '{{ current_month }}';
                let currentYear = '{{ current_year }}';
                let currentDay = '{{ current_day }}';
                const new_day = document.getElementById("new_day");
                new_day.value = currentDay;
                const new_month = document.getElementById("new_month");
                new_month.value = currentMonth;
                const new_year = document.getElementById("new_year");
                new_year.value = currentYear;
                const button_name = document.getElementById("button_name");
                button_name.value = 'next';
        }

        function previous() {
               const selectStat = document.getElementById('stations');
                let currentStat = selectStat.options[selectStat.selectedIndex].text;
                const new_stat = document.getElementById("new_stat");
                new_stat.value = currentStat;
                let currentMonth = '{{ current_month }}';
                let currentYear = '{{ current_year }}';
                let currentDay = '{{ current_day }}';
                const new_day = document.getElementById("new_day");
                new_day.value = currentDay;
                const new_month = document.getElementById("new_month");
                new_month.value = currentMonth;
                const new_year = document.getElementById("new_year");
                new_year.value = currentYear;
                const button_name = document.getElementById("button_name");
                button_name.value = 'previous';
        }

    </script>
{#    {% else %}Ваш запрос завершился с ошибкой.{% endif %}</div>#}
{% endblock %}
