{% extends "base_page.html" %}

{% block pagetitle %}
    Data
{% endblock %}

{% load static %}

{% block content %}
    <body style='background-color: #dadfe0'>
{#    <div class="container px-4 py-5" id="main-contents">#}
        <style>
            .btn {
                float: left;
                display: inline-block;
                background: #68819a;
                font-size: 20px;
                width: 160px;
                color: white;
                font-family: 'Roboto', sans-serif;
                border: #68819a;
                border-radius: 8px;
            }

            .btn:hover {
                background: #5c748c;
                color: #f8f8f8;
            }
        </style>
{#        <form method="post" id="date_form">#}

{#            <div class="row-fluid">#}
{#              <div class="span4 text-left"><a href="#" class="btn">Btn1</a></div>#}
{#              <div class="span4 text-center"><a href="#" class="btn">Btn2</a></div>#}
{#              <div class="span4 text-right"><a href="#" class="btn">Btn3</a></div>#}
{#            </div>#}

{#        <a href="/date-selection" class="btn">Back to date picker</a>#}
{#            <input class="btn" type="submit" formaction="/date-selection" value="Calendar">#}
{#            <input type="hidden" id="source" name="source" value="{{ source }}">#}
{#        </form>#}
{#        <a href="/" class="btn" style="float: right;">Home Page</a>#}
{#    </div>#}
{#    <span class="fs-2"></span>#}
    <div class="fw-bold">{% if success %}{{ date_test }}
        <style>
            .btn-previous {
                float: left;
                display: inline-block;
                background: #8e9798;
                font-size: 20px;
                color: #fcfafa;
                font-family: 'Roboto', sans-serif;
                width: 140px;
                border-radius: 8px;
                border: 1px solid #8e9798;
            }

            .btn-previous:hover {
                background: #7b8283;
                border: 1px solid #7b8283;
            }

            .btn-next {
                float: right;
                display: inline-block;
                background: #8e9798;
                font-size: 20px;
                color: #fcfafa;
                font-family: 'Roboto', sans-serif;
                border-radius: 8px;
                width: 130px;
                border: 1px solid #8e9798;
            }

            .btn-next:hover {
                background: #7b8283;
                border: 1px solid #7b8283;
            }

            .three-inline-buttons .btn {
                margin-left: 15px;
                margin-right: 15px;
            }

            @media only screen and (max-width: 960px) {

                .three-inline-buttons .btn{
                    width: 100%;
                    margin: 40px;
                    text-align: center;
                }

            }

            .btn_up {
                display: inline-block;
                background: #68819a;
                font-size: 20px;
                width: 160px;
                color: white;
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                border: #68819a;
                border-radius: 8px;
                min-height: 40px;
            }

            .btn_up:hover {
                background: #576f88;
                color: #f8f6f6;
            }


            .center {
                max-width: 1000px;
                align-content: center;
                margin-left: auto;
                margin-right: auto;
                {#width: 100%; /* Try setting this to 400px or something */#}
                {#display: table;#}
            }
            .child {
                {#display: table-cell;#}
                align-content: center;
                width: 33%;
                padding: 0 15px;
            }
            .child:first-child .childinner {
                margin-left: 0;
            }

        </style>
{#        {% if no_data %}#}
{#            <span style="align-items: center;">NO DATA</span>#}
{#        {% else %}#}

        <form method="post" id="date_form">
            <table class="center">
                <td class="child">
{#                <div class="three-inline-buttons">#}
{#                <div class="row g-1 py-2 row-cols-1 row-cols-lg-3">#}
{#                        <div class="col d-flex" style="justify-content: center; align-items: center">#}
                            <input class="btn_up" type="submit" formaction="/get-vlf-data" style="float: right;" value="Previous day" onclick="previous()">
                </td>
                <td class="child" style="text-align: center;">
                    <input class="btn_up" type="submit" formaction="/date-selection" style="text-align:center;" value="Calendar">
                </td>
{#                    </form>#}
                <td class="child">
                    <input class="btn_up" type="submit" formaction="/get-vlf-data" style="float: left;" value="Next day" onclick="next()">
                </td>
            </table>
                                <input type="hidden" id="source" name="source" value="{{ source }}">

{#                </div>#}
                <span style="font-family: Roboto, sans-serif; font-weight: 300; align-items: center; font-size: 25px; justify-content: center; margin: auto; display: flex;" id="nodata">
                    <br><br>
                    NO DATA FOR {{ current_day }}/{{ current_month }}/{{ current_year }}
                </span>
                <input type="hidden" id="button_name" name="button_name" value="">
                <input type="hidden" id="new_day" name="new_day" value="">
                <input type="hidden" id="new_month" name="new_month" value="">
                <input type="hidden" id="new_year" name="new_year" value="">
                <input type="hidden" id="source" name="source" value="{{ source }}">
{#            </div>#}
        </form>
            <script>

                if ('{{ no_data }}' === 'True') {
                    document.getElementById("figures").style.display = 'none';
                } else {
                    document.getElementById("nodata").style.display = 'none';
                }


                
                function next() {
                    let currentMonth = '{{ current_month }}';
                    let currentYear = '{{ current_year }}';
                    let currentDay = '{{ current_day }}';
                    const new_day = document.getElementById("new_day");
                    new_day.value = currentDay;
                    const new_month = document.getElementById("new_month");
                    new_month.value = currentMonth;
                    const new_year = document.getElementById("new_year");
                    new_year.value = currentYear;
                    const button_name = document.getElementById("button_name");
                    button_name.value = 'next';
                }

                function previous() {
                    let currentMonth = '{{ current_month }}';
                    let currentYear = '{{ current_year }}';
                    let currentDay = '{{ current_day }}';
                    const new_day = document.getElementById("new_day");
                    new_day.value = currentDay;
                    const new_month = document.getElementById("new_month");
                    new_month.value = currentMonth;
                    const new_year = document.getElementById("new_year");
                    new_year.value = currentYear;
                    const button_name = document.getElementById("button_name");
                    button_name.value = 'previous';
                }
            </script>

            <style>
                .img1 {
                    margin: auto;
                    width: 100%;
                    max-width: 900px;
                    display: block;
                    align-items: center;
                    justify-content: center;
                }
            </style>
            <br>
            <picture>
                {% for image in images %}
                    <div id="figures">
                        <img class="img1" id="img_{{ image }}" src='{{ image }}' width=100%
                             style="display: block; align-items: center; justify-content: center; object-position: center;"/>
                    </div>
                {% endfor %}
            </picture>
            <br>
{#            </a>#}
        {% endif %}
    </div>
{#    {% else %}Ваш запрос завершился с ошибкой.{% endif %}</div>#}
    </body>
{% endblock %}
