{% extends "base_page.html" %}

{% block pagetitle %}
    VLF data
{% endblock %}

{% block page-title %}
{% endblock %}

{% block page-lead %}
{% endblock %}

{% load static %}

{% block content %}
    <body style='background-color: #dadfe0'>
    <div class="container px-4 py-5" id="main-contents">
        <style>
            .btn {
                float: left;
                display: inline-block;
                background: #68819a;
                font-size: 20px;
                width: 200px;
                color: white;
                font-family: 'Roboto', sans-serif;
                border: #68819a;
                border-radius: 8px;
            }

            .btn:hover {
                background: #576f88;
                color: #f8f8f8;
            }
        </style>
        <form method="post" id="date_form">
{#        <a href="/date-selection" class="btn">Back to date picker</a>#}
            <input class="btn" type="submit" formaction="/date-selection" value="Back to date picker">
            <input type="hidden" id="source" name="source" value="{{ source }}">
        </form>
        <a href="/" class="btn" style="float: right;">To Home Page</a>
    </div>
    <span class="fs-2"></span>
    <div class="fw-bold">{% if success %}{{ date_test }}
        <style>
            .btn-previous {
                float: left;
                display: inline-block;
                background: #8e9798;
                font-size: 20px;
                color: #fcfafa;
                font-family: 'Roboto', sans-serif;
                width: 140px;
                border-radius: 8px;
                border: 1px solid #8e9798;
            }

            .btn-previous:hover {
                background: #7b8283;
                border: 1px solid #7b8283;
            }

            .btn-next {
                float: right;
                display: inline-block;
                background: #8e9798;
                font-size: 20px;
                color: #fcfafa;
                font-family: 'Roboto', sans-serif;
                border-radius: 8px;
                width: 130px;
                border: 1px solid #8e9798;
            }

            .btn-next:hover {
                background: #7b8283;
                border: 1px solid #7b8283;
            }
        </style>
{#        {% if no_data %}#}
{#            <span style="align-items: center;">NO DATA</span>#}
{#        {% else %}#}

        <form method="post" id="date_form">
            <div class="container px-4 py-5" id="main-contents">
                <input class="btn-previous" type="submit" formaction="/get-vlf-data" value="Previous day" onclick="previous()">
                <input class="btn-next" type="submit" formaction="/get-vlf-data" value="Next day" onclick="next()">
                <span style="align-items: center; font-size: 25px; justify-content: center; margin: auto; display: flex;" id="nodata">
                    <br><br>
                    NO DATA FOR {{ current_day }}/{{ current_month }}/{{ current_year }}
                </span>
                <input type="hidden" id="button_name" name="button_name" value="">
                <input type="hidden" id="new_day" name="new_day" value="">
                <input type="hidden" id="new_month" name="new_month" value="">
                <input type="hidden" id="new_year" name="new_year" value="">
                <input type="hidden" id="source" name="source" value="{{ source }}">
            </div>
        </form>
            <script>

                if ('{{ no_data }}' === 'True') {
                    document.getElementById("figures").style.display = 'none';
                } else {
                    document.getElementById("nodata").style.display = 'none';
                }


                
                function next() {
                    let currentMonth = '{{ current_month }}';
                    let currentYear = '{{ current_year }}';
                    let currentDay = '{{ current_day }}';
                    const new_day = document.getElementById("new_day");
                    new_day.value = currentDay;
                    const new_month = document.getElementById("new_month");
                    new_month.value = currentMonth;
                    const new_year = document.getElementById("new_year");
                    new_year.value = currentYear;
                    const button_name = document.getElementById("button_name");
                    button_name.value = 'next';
                }

                function previous() {
                    let currentMonth = '{{ current_month }}';
                    let currentYear = '{{ current_year }}';
                    let currentDay = '{{ current_day }}';
                    const new_day = document.getElementById("new_day");
                    new_day.value = currentDay;
                    const new_month = document.getElementById("new_month");
                    new_month.value = currentMonth;
                    const new_year = document.getElementById("new_year");
                    new_year.value = currentYear;
                    const button_name = document.getElementById("button_name");
                    button_name.value = 'previous';
                }
            </script>

            <style>
                .img1 {
                    margin: auto;
                    width: 100%;
                    max-width: 900px;
                    display: block;
                    align-items: center;
                    justify-content: center;
                }
            </style>
            <picture>
                {% for image in images %}
                    <div id="figures">
                        <img class="img1" id="img_{{ image }}" src='{{ image }}' width=100%
                             style="display: block; align-items: center; justify-content: center; object-position: center;"/>
                    </div>
                {% endfor %}
            </picture>
{#            </a>#}
        {% endif %}
{#    {% else %}Ваш запрос завершился с ошибкой.{% endif %}</div>#}
    </body>
{% endblock %}
