{% extends "base_page.html" %}

{% block pagetitle %}
    VLF data
{% endblock %}

{% block page-title %}
{% endblock %}

{% block page-lead %}
{% endblock %}

{% load static %}

{% block content %}
<body style='background-color: #dadfe0'>
    <div class="container px-4 py-5" id="main-contents">
        <br>
        <style>
            .btn {
                float: left;
                display: inline-block;
                background: #68819a;
                font-size: 18px;
                color: white;
                font-family: 'Roboto', sans-serif;
                border: #68819a;
                border-radius: 10px;
            }

            .btn:hover {
                background: #576f88;
                color: #f8f8f8;
            }
        </style>
        <a href="/date-selection" class="btn">Back to date picker</a>
        <a href="/" class="btn" style="float: right;">To Home Page</a>
        <br>
    </div>
    <span class="fs-2"></span><br/>
    <div class="fw-bold">{% if success %}{{ date_test }}
        <style>
            .card_fig {
                margin: auto;
                display: block;
                border-radius: 10px;
                align-items: center;
                justify-content: center;
                height: 4000px;
                width: 90%;
            / / left: 50 %;
                background: #c6d2da;
                flex-shrink: 2;
                text-decoration: none;
                color: white;
                vertical-align: middle;
                border: none;
            }

            .vlf_picture {
                margin: auto;
                display: block;
                border-radius: 10px;
                align-items: center;
                justify-content: center;
                height: 4000px;
                width: 90%;
            / / left: 50 %;
                background: #c6d2da;
                flex-shrink: 2;
                text-decoration: none;
                color: white;
                vertical-align: middle;
                border: none;
            }

            .fig {
            / / align-items: stretch;
                align-items: center;
                border: none;
            }

            .card_block {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                border: none;
            }

            .card {
                margin: auto;
                display: block;
                border: none;
            }
        </style>
        {% if no_data %}
            <span style="align-items: center;">NO DATA</span>
        {% else %}
{#            <body>#}
            <style>
                .img1 {
                /*padding: 0;*/
                /*margin: 0 auto auto 0;*/
                margin: auto;
                width: 100%;
                max-width: 900px;
                display: block;
                align-items: center;
                justify-content: center;
            }
            </style>
{#            <a class="card_fig row d-flex" style="align-items: center" id="card_fig">#}
                <picture>
                    {% for image in images %}
{#                        (width, height) = image.size#}
                        <img class="img1" id="img_{{ image }}" src='{{ image }}' width=100%
                             style="display: block; align-items: center; justify-content: center; object-position: center;"/>
                    {% endfor %}
                </picture>
            </a>
{#            </body>#}
            <script>
                let h = 0;
                {% for image in images %}
                    h = document.getElementById('img_{{ image }}').height;
                {% endfor %}
                const card_fig = document.getElementById('card_fig');
                card_fig.height = {{ num_pics }} * h;
            </script>
        {% endif %}
    {% else %}Ваш запрос завершился с ошибкой.{% endif %}</div>
</body>
{#<div class="container px-4 py-5" id="main-contents">#}
{#    <footer class="footer pt-3 mt-4 text-muted border-top"#}
{#            style="font-family: 'Roboto', sans-serif; border-bottom: 1px solid #918e8e;">© IDG RAS#}
{#        <br>#}
{#            Institute of geosphere dynamics of Russian academy of sciences#}
{#    </footer>#}
{#</div>#}
    {#    <h2 class="pb-2 border-bottom">Комментарий</h2>#}
    {#    <p>{{ comment }}</p>#}
{% endblock %}
